
.m-left {
    margin-left: 4vw;
}

.giraGira {
    width: 20vw;
    height: 20vh;
    animation: girar 5s linear infinite;
}

@keyframes girar {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}