{% extends 'base.html' %}

{% block content %}

<div class="container">
  {% include 'nave.html' %} 
  <div class="row mt-4">
    <h3>Envio de Contatos</h3>
  </div>
  <form action="" method="post" class="row mt-4 p-4 round border shadow">

    {{form.csrf_token}}

    {{form.nome.label()}} <!-- Label nome -->
    {{form.nome(class="form-control")}} <!-- Input nome -->

    {{form.email.label()}} <!-- Label e-mail -->
    {{form.email(class="form-control")}} <!-- Input e-mail -->

    {{form.assunto.label()}} <!-- Label assunto -->
    {{form.assunto(class="form-control")}}<!-- Input assunto -->

    {{form.mensagem.label()}} <!-- Label mensagem -->
    {{form.mensagem(class="form-control")}} <!-- Input mensagem -->

    {{form.btnSubmit(class="btn btn-primary col-12")}}

  </form>
</div>

{% endblock %}