{% extends 'base.html' %}

{% block content %}

<div class="container">
    {% include 'nave.html' %}

    <div>
        <h3> Projeto Flask </h3>
        <h5> @senaisc </h5>
    </div>

    <div>
        <br>
        <br>

        <a href="{{url_for('cadastro')}}" class="btn btn-primary"> Faça seu cadastro</a>

        <h1> Bem-vindo, {{context.usuario}} ! A aula de Flask. </h1>
        <p style="font-size: 25px;"><b> Idade: <b>{{context.idade}} anos de idade!</p>
        <img src="{{url_for('static', filename='img/logo_senai.png')}}">

        <br>
    </div>

</div>

{% endblock %}